<%= provide(:title, 'Sign Up') %>
 
<div class="container">
 
  <%= form_for(user_session_path, :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading">Sign Up</h2>
 
      <%= f.label :name %>
      <%= f.text_field :name %>
 
      <%= f.label :email %>
      <%= f.text_field :email %>
 
      <%= f.label :password %>
      <%= f.password_field :password %>
 
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
 
      <div class="text-centered">
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </div>
  <% end %>
 
</div>
