<!--  slideshow -->
<div class="slideshow">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- sidebar -->
        <div class="sidebar-wrapper list-group">
          <div class="sidebar-title list-group-item">
                            <span class="menu-icon">
                                <i class="fa fa-align-justify"></i>
                            </span>
            <span class="menu-label title">
                                Danh mục
                            </span>
          </div>

          <div class="parent-category list-group-item">
            <% @parent_categories.each do |cat| %>
              <a href="#">
                <span class="menu-icon">
                    <i class="fa fa-female"></i>
                </span>
                <span class="menu-label">
                    <%= cat.name%>
                </span>
                <% if cat.categories.present? %>
                  <span class="fa fa-chevron-right float-right"></span>
                <% end %>
              </a>
              <% if cat.categories.present? %>
              <div class="sub-category list-group border-shadow-bottom col-md-10">
                <% cat.categories.each do |c| %>
                  <a href="#" class="list-group-item">
                    <span class="menu-label"><%= c.name%></span>
                  </a>
                <% end %>                              
              </div>
              <% end %>
            <% end %>
          </div>
        </div><!-- /siderbar -->

        <!-- box-adv -->
        <div class="box-adv row">
          <div class="col-md-12 col-xs-6 adv-image">
            <img src="images/adv/adv1.jpg" alt=""
                 class="img-responsive" width="100%">
            <span class="overlay"></span>
          </div>

          <div class="col-md-12 col-xs-6 adv-image">
            <img src="images/adv/adv2.jpg" alt=""
                 class="img-responsive" width="100%">
            <span class="overlay"></span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- slider -->
        <div id="slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class="active"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/slide/slideshow_1.jpg"
                   alt="Slider 1" class="img-responsive"
                   width="100%" height="auto" />
            </div>
            <div class="item">
              <img src="images/slide/slideshow_2.jpg"
                   alt="Slider 2" class="img-responsive"
                   width="100%" height="auto" />
            </div>
            <div class="item">
              <img src="images/slide/slideshow_3.jpg"
                   alt="Slider 3" class="img-responsive"
                   width="100%" height="auto" />
            </div>
          </div>

          <a class="left carousel-control" href="#slider"
             role="button" data-slide="prev">
                            <span class="fa fa-chevron-left chevron-left"
                                  aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#slider"
             role="button" data-slide="next">
                            <span class="fa fa-chevron-right chevron-right"
                                  aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /slider -->

        <!-- hrv_commerce -->
        <div class="hrv_commerce">
          <div class="heading">
            <h4 align="center">ƯU ĐÃI LỚN</h4>
          </div>
          <div class="product-content">
            <div class="row">
              <div class="col-md-6 image">
                <a href="#">
                  <img src="images/product/ao-belike1_master.jpg"
                       alt="" class="img-responsive" width="100%">
                </a>
                <div class="product-label">
                  <span class="onsale">-52%</span>
                </div>
              </div>
              <div class="col-md-6">
                <h4 class="product-name">
                  <a href="#">
                    Áo thun nữ Belike
                  </a>
                </h4>
                <span class="product-price">
                                        <del>200.000₫</del>
                                        <ins>95.200<span class="unit">đ</span></ins>
                                    </span>
                <div class="short-description">
                  Trẻ trung và cuốn hút theo phong cách đường phố thu-đông với
                  áo nỉ thêu hình động vật của thương hiệu Asos.- Chất liệu cotton
                  pha- Cổ 3cm- Tay dài, suông- Không lót trong- Màu sắc: Xám.
                  Hướng dẫn sử dụng:- Giặt bằng tay với nhiệt độ không quá 30°C-
                  Không được tẩy- Không được sấy khô- Ủi với nhiệt độ...
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /hrv_commerce -->
      </div>

      <div class="col-md-3">
        <!-- promotion -->
        <div class="promotion">
          <div class="box-title">
            <p align="center">Sản phẩm khuyến mại</p>
          </div>
          <div class="list-item">
            <% @products.each do |product| %>
              <div class="col-md-12 col-xs-6 box-item">
                <div class="row">
                  <div class="col-md-5 product-image">
                    <a href="product-detail.html">
                      <img src="<%= product.image.url %>"
                           alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="col-md-7 product-info">
                    <a href="product-detail.html">
                      <span class="product-name"><%= product.name %></span>
                    </a>
                    <div class="product-price">
                      <% if product.sale > 0 %>
                        <del><%= product.price %><span class="unit">đ</span></del>
                        <ins><%= product.price*product.sale/100%><span class="unit">đ</span></ins>
                      <% else %>
                        <ins><%= product.price %><span class="unit">đ</span></ins>
                      <% end %>                  
                    </div>
                  </div>
                </div>
              </div>
            <% end %> 
        </div><!-- /promotion -->

        <!-- subscription -->
        <div class="subscription">
          <div class="sub-header">
            <p align="center">Đăng kí nhận tin</p>
          </div>
          <div class="content">
            <div class="col-xs-12">
              <input type="text" name="email" placeholder="Email của bạn"
                     class="form-control" />
            </div>
            <button type="submit">Đăng ký</button>
          </div>
        </div><!-- /subscription -->
      </div>
    </div>
  </div>
</div><!-- /slideshow -->

<!-- adv-wrapper -->
<div class="col-md-12 adv-wrapper">
  <div class="container">
    <div class="adv-image">
      <img src="images/adv/banner_home_img.jpg" alt=""
           class="img-responsive" width="100%">
      <span class="overlay"></span>
    </div>
  </div>
</div><!--  /adv-wrapper -->

<!-- main -->
<section class="col-md-12" id="main">
  <div class="container">
    <div class="row">
      <!-- box-section-collection -->

      <div class="box-section-collection">
        <!-- column-tabs -->
        <div class="col-md-2 column-tabs">
          <div class="row">
            <div class="heading-tab">
              <p class="heading-title">
                <i class="fa fa-heart"></i>
                <span class="heading-title">Mỹ phẩm</span>
              </p>
            </div>
            <ul class="catalog-list list-group">
              <a href="#">
                <li class="list-group-item item-all">Tất cả</li>
              </a>
              <% @parent_categories.each do |category| %>
                <a href="#">
                  <li class="list-group-item"><%= category.name %></li>
                </a>
              <% end %>
            </ul>
          </div>
        </div><!-- /column-tabs -->

        <!-- column-products -->
        <div class="col-md-10 column-products">
          <div class="row">
            <% @products.each do |product| %>
              <!-- product-item -->
              <div class="col-md-4 col-xs-6 product-item">
                <div class="product-image">
                  <a href="product-detail.html">
                    <img src="<%= product.image.url %>"
                         alt="" class="img-responsive" width="100%">
                  </a>
                  <div class="product-label">
                    <span class="onsale">HOT</span>
                  </div>
                </div>
                <div class="product-info">
                  <a href="product-detail.html">
                    <span class="product-name"><%= product.name %></span>
                  </a>
                  <div class="product-price">
                    <% if product.sale > 0 %>
                        <del><%= product.price %><span class="unit">đ</span></del>
                        <ins><%= product.price*product.sale/100%><span class="unit">đ</span></ins>
                      <% else %>
                        <ins><%= product.price %><span class="unit">đ</span></ins>
                      <% end %>   
                  </div>
                </div>
              </div><!-- /product-item -->
            <% end %>
          </div>
        </div><!-- /column-products -->

        <!-- column-banners -->
      </div><!-- box-section-collection -->
    </div>
  </div>
</section><!--main -->