<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Admin</b></span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag 'avatar-default.jpg', class: 'img-circle', alt: 'User Image', height: 20 %>
            <span class="hidden-xs">
              <%= current_admin.email %>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag 'avatar-default.jpg', class: 'img-circle', alt: 'User Image' %>
              <p><%= current_admin.email %></p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
              </div>
              <div class="pull-right">
                <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
