<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="<%= 'active' if controller_name == 'home' %>">
        <%= link_to admin_root_path do %>
          <i class="fa fa-dashboard"></i><span>Dashboard</span>
        <% end %>
      </li>

      <% if can? :index, Admin %>
        <li class="<%= 'active' if controller_name == 'admins' %>">
          <%= link_to admin_admins_path do %>
            <i class="fa fa-users"></i><span>Admin</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :index, Category %>
        <li class="<%= 'active' if controller_name == 'categories' %>">
          <%= link_to admin_categories_path do %>
            <i class="fa fa-users"></i><span>Category</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :index, User %>
        <li class="<%= 'active' if controller_name == 'users' %>">
          <%= link_to admin_users_path do %>
            <i class="fa fa-users"></i><span>Users</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :index, Product %>
        <li class="<%= 'active' if controller_name == 'products' %>">
          <%= link_to admin_products_path do %>
            <i class="fa fa-users"></i><span>Products</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :index, Slider %>
        <li class="<%= 'active' if controller_name == 'sliders' %>">
          <%= link_to admin_sliders_path do %>
            <i class="fa fa-users"></i><span>Sliders</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</aside>
