<%= form_for [:admin, slider], html: {class: 'form-horizontal', autocomplete: 'off'} do |f| %>
  <div class="box-body col-md-8">
    <div class="form-group">
      <label class="col-md-3">
        Name
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Status
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.select :status, Slider.statuses.keys.to_a, {}, class: "form-control" %>
      </div>
    </div>

  </div>

  <div class="box-footer">
    <div class="col-md-8">
      <%= f.submit t('view.button.save'), class: 'btn btn-primary col-md-offset-3' %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
