<% provide :title, t('view.managers.edit_manager') %>

<section class="content">
  <div class="box" id="edit-manager">
    <h1 class="col-md-12 page-header"><%= t('view.managers.edit_manager') %></h1>

    <%= render partial: 'form', locals: {product: @product, categories: @categories} %>
  </div>
  <div class="clearfix"></div>
</section>
