<%= render partial: 'backend/shared/alert' %>
<div class="clearfix"></div>

<section class="content listing-wrapper" id="admin-listing">
  <div class="box">
    <div class="col-md-12 page-header">
      <h3 class="pull-left">List Sliders</h3>
      <div class="pull-right">
        <% if can? :create, Slider %>
          <%= link_to t('view.button.new'), new_admin_slider_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
      <table class="table table-bordered listing-table">
        <thead>
        <tr>
          <th class="col-md-1"><%= t('view.admins.id') %></th>
          <th>Image</th>
          <th>Status</th>
          <th class="col-md-2"><%= t('view.layout.action') %></th>
        </tr>
        </thead>
        <tbody>
        <% @sliders.each do |slider| %>
          <tr>
            <td><%= slider.id %></td>
            <td></td>
            <td><%= slider.status %></td>
            <td>
              <% if can? :update, Slider %>
                <a href="<%= edit_admin_slider_path(slider) %>" class="action-icon btn btn-info">
                  <%= t('view.button.edit') %>
                </a>
              <% end %>
              <% if can? :destroy, Admin %>
                <a href="#modal-delete" data-toggle="modal" data-url="/admin/admins/<%= slider.id %>"
                   class="action-icon remove btn btn-danger">
                  <%= t('view.button.delete') %>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @sliders %>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<%= render partial: 'backend/shared/delete', locals: {model_name: 'Slider'} %>
