<% provide :title, 'New Slider' %>

<section class="content">
  <div class="box" id="new-manager">
    <h1 class="col-md-12 page-header">New slider</h1>

    <%= render partial: 'form', locals: {slider: @slider} %>
  </div>
  <div class="clearfix"></div>
</section>
