<h2 class="page-header" align="center">Login</h2>

<div class="container sessions-wrapper">
  <div class="col-md-4 col-md-offset-4 login-box-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
        <span class="fa fa-envelope-o form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Password' %>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= f.submit t('devise.shared.login'), class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
