<%= render partial: 'backend/shared/alert' %>
<div class="clearfix"></div>

<section class="content listing-wrapper" id="admin-listing">
  <div class="box">
    <div class="col-md-12 page-header">
      <h3 class="pull-left">List User</h3>
<!--      <div class="pull-right">-->
        <%# if can? :create, Admin %>
          <%#= link_to t('view.button.new'), new_admin_admin_path, class: 'btn btn-primary' %>
        <%# end %>
<!--      </div>-->
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
      <table class="table table-bordered listing-table">
        <thead>
        <tr>
          <th class="col-md-1"><%= t('view.admins.id') %></th>
          <th><%= t('view.admins.email') %></th>
          <th>Phone number</th>
          <th class="col-md-2"><%= t('view.layout.action') %></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.profile ? user.profile.try(:phone_number) : '' %></td>
            <td>
              <% if can? :destroy, User %>
                <a href="#modal-delete" data-toggle="modal" data-url="/admin/users/<%= user.id %>"
                   class="action-icon remove btn btn-danger">
                  <%= t('view.button.delete') %>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<%= render partial: 'backend/shared/delete', locals: {model_name: t('view.admins.model_name')} %>
