<%= form_for [:admin, product], html: {class: 'form-horizontal', autocomplete: 'off'} do |f| %>
  <div class="box-body col-md-8">
    <div class="form-group">
      <label class="col-md-3">
        Name
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true, autocomplete: 'off' %>
        <%= show_errors product, :name %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Price
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.number_field :price, class: 'form-control', placeholder: 'Price', required: true, autocomplete: 'off' %>
        <%= show_errors product, :price %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Sale
      </label>
      <div class="col-md-9">
        <%= f.number_field :sale, class: 'form-control', placeholder: 'Sale', autocomplete: 'off' %>
        <%= show_errors product, :sale %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Description
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.text_area :short_desc, class: 'form-control', placeholder: 'Short description', required: true, autocomplete: 'off' %>
        <%= show_errors product, :short_desc %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Description
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.cktext_area :description, class: 'form-control', placeholder: 'description', required: true, autocomplete: 'off' %>
        <%= show_errors product, :description %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Notes
      </label>
      <div class="col-md-9">
        <%= f.text_area :note, class: 'form-control', placeholder: 'Note', autocomplete: 'off' %>
        <%= show_errors product, :note %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Category
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.collection_select :category_id, categories, :id, :name,
                                {},
                                {required: true, class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Image
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.file_field :image, required: product.image.nil?, class: 'form-control' %>
        <%= image_tag(product.image.url, size: "200x200", id: 'image_product') if product.image.present? %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Images Other
      </label>
      <div class="col-md-9">
        <%= f.nested_fields_for :product_images do |ff| %>
          <%= ff.file_field :picture, class: 'image-other' %>
          <%= image_tag(ff.object.picture.url, size: '200x200', class: 'image-show-other') if ff.object.picture.present? %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Status
      </label>
      <div class="col-md-9">
        <%= f.select :status, Product.statuses.keys.to_a, {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <div class="col-md-8">
      <%= f.submit t('view.button.save'), class: 'btn btn-primary col-md-offset-3' %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
