<% provide :title, 'List product' %>

<%= render partial: 'backend/shared/alert' %>
<div class="clearfix"></div>

<section class="content listing-wrapper" id="manager-listing">
  <div class="box">
    <div class="col-md-12 page-header">
      <h3 class="pull-left">List product</h3>
      <div class="pull-right">
        <% if can? :create, Admin %>
          <%= link_to 'New', new_admin_product_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
      <div class="col-md-12">
        <table class="table table-bordered listing-table">
          <thead>
          <tr>
            <th class="col-md-1 align-center">ID</th>
            <th class="col-md-3 align-center">Name</th>
            <th class="col-md-3 align-center">Price</th>
            <th class="col-md-3 align-center">Description</th>
            <th class="col-md-2"></th>
          </tr>
          </thead>
          <tbody>
          <% @products.each_with_index do |product, index| %>
            <tr align="center">
              <td class="col-md-1 align-center"><%= product.id %></td>
              <td class="col-md-3 align-center"><p style="word-wrap: break-word;"><%= truncate(product.name, length: 100) %></td>
              <td class="col-md-3 align-center"><p style="word-wrap: break-word;"><%= product.price %></td>
              <td class="col-md-3 align-center"><p style="word-wrap: break-word;"><%= truncate(product.description, length: 100) %></td>
              <td class="col-md-2">
                <a href="<%= edit_admin_product_path(product) %>" class="action-icon btn btn-info btn-xs">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="#modal-delete" data-toggle="modal"
                   data-url="/admin/products/<%= product.id %>" class="action-icon remove btn btn-danger btn-xs">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="text-center">
          <%= paginate @products, theme: 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<%= render partial: 'backend/shared/delete', locals: {model_name: 'Product'} %>
