<% provide :title, 'New Product' %>

<section class="content">
  <div class="box" id="new-manager">
    <h1 class="col-md-12 page-header">New Product</h1>

    <%= render partial: 'form', locals: {product: @product, categories: @categories} %>
  </div>
  <div class="clearfix"></div>
</section>
