<input class="toggle-category-status" type="checkbox" <%= 'checked' unless category.status %> data-toggle="toggle"
       data-id="<%= category.id %>"
       data-on="Processing"
       data-off="Finish"
       data-size="mini">

<script>
  $(".toggle-category-status").bootstrapToggle();
</script>
