<%= form_for [:admin, category], html: {class: 'form-horizontal', autocomplete: 'off'} do |f| %>
  <div class="box-body col-md-8">
    <div class="form-group">
      <label class="col-md-3">
        Name
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true, autocomplete: 'off' %>
        <%= show_errors category, :name %>
      </div>
    </div>

     <div class="form-group">
      <label class="col-md-3">
        Parent
      </label>
      <div class="col-md-9">
        <%= f.select :parent_id, @categories.collect { |c| [c.name, c.id] }, { include_blank: true }, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">
        Status
        <span class="required-star">*</span>
      </label>
      <div class="col-md-9">
        <%= f.select :status, Category.statuses.keys.to_a, {}, class: "form-control" %>
      </div>
    </div>

  </div>

  <div class="box-footer">
    <div class="col-md-8">
      <%= f.submit t('view.button.save'), class: 'btn btn-primary col-md-offset-3' %>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
