<% provide :title, t('view.managers.edit_manager') %>

<section class="content">
  <div class="box" id="edit-manager">
    <h1 class="col-md-12 page-header">Edit Category</h1>

    <%= render partial: 'form', locals: {category: @category} %>
  </div>
  <div class="clearfix"></div>
</section>
