<% provide :title, 'New Category' %>

<section class="content">
  <div class="box" id="new-manager">
    <h1 class="col-md-12 page-header">New Category</h1>

    <%= render partial: 'form', locals: {category: @category} %>
  </div>
  <div class="clearfix"></div>
</section>
