.login-box-body, .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #777
}

.login-box-msg, .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #808080;
  background-color: #fbfbfb;
  font-size: 14px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  margin: 0 0 13px 0;
}

li {
  list-style: none;
}

.fa {
  font-family: 'FontAwesome' !important;
}

.navbar-default {
  list-style: none;
  border: 0;
  -webkit-box-shadow: none;
  background: #ffffff;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:#ffffff !important;
  -webkit-box-shadow: none;
}

.navbar-header button{
  margin-top: 35px;
  margin-bottom: 30px;
  border-color: red;
}

@media (max-width: 768px) {
  .navbar-form {
    margin-right: 0px;
  }
}

/* header-top */
#header-top {
  background: #383838;
  border-color: #383838;
  color: #a9a9a9;
}

#header-top a {
  color: #808080;
}

.header-top-left {
  padding-top: 13px;
  padding-bottom: 7px;
}

.header-top-left .info-phone {
  border-left: 1px solid #808080;
}

.header-top-left span i {
  padding-right: 7px;
}

.header-top-right span {
  margin-right: 20px;
}

.header-top-right .account-control {
  border-right: 1px solid #808080;
  margin-right: 20px;
  padding-right: 10px;
}

.header-top-right .account-control a {
  margin-right: 4px;
}

.header-top-right .search-wrapper input[type=text] {
  background: #383838;
  border: 1px solid #383838;
}

/* header-main */
.header-main {
  background: #ffffff;
}

/* logo wrapper */
.logo-wrapper {
  margin-top: 15px;
}

.logo-wrapper .logo {
  line-height: 0;
}

.logo-wrapper .logo img {
  border: 0;
  vertical-align: top;
  margin: 0 0 0;
  max-width: 100%;
  height: auto;
}

/* menu wrapper */
.header-main .menu-wrapper .navbar-collapse ul.nav li a {
  font-size: 14px;
  line-height: 18px;
  padding: 48px 14px 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3f3f3f;
  box-shadow: none;
}

.menu-products:hover .sub-menu-products {
  display: block;
}

.header-main .menu-wrapper a:hover {
  background: #ffffff;
}

.header-main .menu-wrapper .navbar-collapse ul.nav li a span.glyphicon {
  font-weight: 100;
  color: #808080;
  margin-left: 2px;
  font-size: 10px;
}

.header-main .menu-wrapper .navbar-collapse ul.nav li.dropdown ul.dropdown-menu {
  margin-top: 20px;
  padding: 10px 50px 20px 10px;
  text-align: left;
  border-style: solid;
  border-top-color: #7aaedd;
  background: #ffffff;
}

.header-main .menu-wrapper .navbar-collapse ul.nav li.dropdown ul.dropdown-menu li a {
  font-size: 13px;
  font-weight: normal;
  padding: 15px 5px;
}

/* cart wrapper */
.cart-wrapper .cart {
  float: right;
  border: 1px solid #7aaedd;
  background: #fff;
  margin: 35px auto;
  text-align: left;
  padding-right: 5px;
}

.cart-wrapper .cart a i {
  color: #ffffff;
  background: #7aaedd;
  padding: 13px;
  top: 0px;
}

.cart-wrapper .cart a span {
  font-weight: bold;
  color: #3f3f3f;
}

/* slideshow */
.slideshow {
  background: #fbfbfb;
}

/* sidebar-wrapper */
.slideshow .sidebar-wrapper {
  font-weight: bold;
  color: #3f3f3f;
}

.slideshow .sidebar-wrapper .sidebar-title {
  background: #e8e8e8;
  padding: 20px;
}

.slideshow .sidebar-wrapper .sidebar-title .title {
  font-size: 15px;
  text-transform: uppercase;
}

.slideshow .sidebar-wrapper .menu-icon {
  margin-right: 15px;
}

.slideshow .sidebar-wrapper .parent-category {
  padding: 14px 20px;
}

.slideshow .sidebar-wrapper .parent-category a {
  color: #3f3f3f;
}

.slideshow .sidebar-wrapper .parent-category a:hover {
  color: #337ab7;
}

.slideshow .sidebar-wrapper .parent-category a span.glyphicon-menu-right {
  float: right;
  font-size: 9px;
}

.sub-category {
  position: absolute;
  top: 0px;
  z-index: 1;
  padding-left: 0;
  display: none;
  background: #fff !important;
  padding: 0;
  left: 260px;
}

.parent-category:hover .sub-category {
  display: block !important;
}

/* box-adv */
.adv-image {
  margin-bottom: 40px;
  position: relative;
}

.adv-image .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.adv-image .overlay:after {
  opacity: 0;
  z-index: 4;
  width: auto;
  height: auto;
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: 10px;
  bottom: 10px;
  border: 1px solid #ffffff;
  transform: scale(0,0);
  -moz-transform: scale(0,0);
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transition: transform 400ms,opacity 100ms ease 0s;
  -moz-transition: transform 400ms,opacity 100ms ease 0s;
  -webkit-transition: -webkit-transform 400ms,opacity 100ms ease 0s;
}

.adv-image:hover .overlay:after {
  opacity: 1;
  transform: scale(1,1);
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transition: transform 500ms,opacity 300ms ease 0s;
  -moz-transition: transform 500ms,opacity 300ms ease 0s;
  -webkit-transition: -webkit-transform 500ms,opacity 300ms ease 0s;
}

/* hrv_commerce */
.hrv_commerce {
  margin-top: 25px;
  padding: 20px 20px 40px 20px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.hrv_commerce .heading {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 25px;
}

.hrv_commerce .product-content .image {
  position: relative;
}

.hrv_commerce .product-content .image img {
  height: 120% !important;
}

.hrv_commerce .product-content .image .product-label {
  position: absolute;
  left: 15px;
  right: auto;
  top: 0;
  bottom: auto;
}

.hrv_commerce .product-content .image .product-label .onsale {
  float: left;
  background-color: red;
  padding: 8px;
  font-size: 11px;
  color: white;
}

.hrv_commerce .product-content .product-name a {
  color: #3f3f3f;
}

.hrv_commerce .product-content .product-name a:hover {
  color: #337ab7;
  text-decoration: none;
}

.hrv_commerce .product-content .product-price del{
  font-size: 18px;
  font-weight: bold;
  color: #c8c8c8;
  margin-right: 10px;
}

.hrv_commerce .product-content .product-price ins {
  color: #6986ca;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.hrv_commerce .product-content .product-price .unit {
  text-decoration: underline;
}

.hrv_commerce .product-content .short-description {
  margin-top: 10px;
  line-height: 1.5;
  word-spacing: 3px;
}

/* promotion */
.promotion {
  background-color: #fff;
  padding: 10px 5px;
  border: 1px solid #ddd;
}

.promotion .box-title p {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: #3f3f3f;
}

.promotion .list-item {
  overflow: hidden;
}

.promotion .list-item .box-item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.promotion .box-item .product-image {
  margin-right: -15px;
  margin-left: -5px;
}

.promotion .box-item .product-info {
  margin-left: -5px;
}

.promotion .box-item .product-info a {
  color: #3f3f3f;
  margin-bottom: 30px;
}

.promotion .box-item .product-info a:hover {
  color: #6986ca;
  text-decoration: none;
}

.promotion .box-item .product-info a .product-name {
  font-size: 13px;
  font-weight: bold;
  margin-right: -10px;
}

.promotion .box-item .product-info .product-price {
  margin-top: 5px;
}

.promotion .box-item .product-info .product-price del{
  font-size: 12px;
  font-weight: bold;
  color: #c8c8c8;
  margin-right: 5px;
}

.promotion .box-item .product-info .product-price ins {
  font-size: 13px;
  font-weight: bold;
  color: #6986ca;
  text-decoration: none;
}

.promotion .box-item .product-info .product-price .unit {
  text-decoration: underline;
}

/* subscription */
.subscription {
  background-color: #fff;
  padding: 20px 20px;
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.subscription .sub-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 16px;
  margin-bottom: 20px;
}

.subscription .content input {
  background: #fbfbfb;
  border-radius: 0;
  border: none;
  padding: 5px 8px;
}

.subscription .content button {
  padding: 9px 15px;
  border: 2px solid #ddd;
  background-color: white;
  margin-left: 30%;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3f3f3f;
}

.subscription .content button:hover {
  border: 2px solid #7aaedd;;
  color: #7aaedd;
}

/* adv-wrapper */
.adv-wrapper {
  background-color: #fbfbfb;
  padding-bottom: 15px;
}

/* main */
#main {
  background-color: #fbfbfb;
  padding: 30px 0px 30px 0px;
}

#main .container {
  background-color: #fff;
}

#main .container .box-section-collection {
  border-top: 5px solid #ebb651;
  margin-bottom: 50px;
  overflow: hidden;
}

/* column-tab */
#main .container .box-section-collection .column-tabs .heading-tab {
  padding: 20px 0px 10px 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#main .container .box-section-collection .column-tabs .heading-tab p {
  text-transform: uppercase;
  color: #3f3f3f;
  font-weight: bold;
}

#main .container .box-section-collection .column-tabs .heading-tab p i {
  background-color: #ebb651;
  padding: 10px 13px;
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

#main .container .box-section-collection .column-tabs .heading-tab p span {
  font-size: 16px;
}

#main .container .box-section-collection .column-tabs .catalog-list a {
  color: #3f3f3f;
  text-decoration: none;
  border-radius: 0;
}

#main .container .box-section-collection .column-tabs .catalog-list a li.list-group-item {
  border-radius: 0;
  padding-left: 25px;
  font-weight: bold;
  padding-top: 13px;
}

#main .container .box-section-collection .column-tabs .catalog-list a li.item-all {
  background-color: #ebb651;
}

#main .container .box-section-collection .column-tabs .catalog-list a li:hover{
  background-color: #ebb651;
  color: white;
}

/* column-products */
.column-products .product-item {
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-top: none;
}

.column-products .product-item .product-info {
  margin: 15px 0px 15px 0px;
}

.column-products .product-item .product-info a {
  font-size: 14px;
  font-weight: bold;
  color: #3f3f3f;
}

.column-products .product-item .product-info a:hover {
  text-decoration: none;
  color: #7aaedd;
}

.column-products .product-item .product-info .product-price {
  margin-top: 5px;
}

.column-products .product-item .product-info .product-price ins{
  font-size: 14px;
  font-weight: bold;
  color: #6986ca;
  text-decoration: none;
}

.column-products .product-item .product-info .product-price del {
  font-size: 13px;
  font-weight: bold;
  color: #c8c8c8;
  margin-left: 5px;
}

.column-products .product-item .product-info .product-price .unit {
  text-decoration: underline;
}

.column-products .product-item .product-image {
  position: relative;
}

.column-products .product-item .product-image .product-label {
  position: absolute;
  left: 0px;
  right: auto;
  top: 0;
  bottom: auto;
}

.column-products .product-item .product-image .product-label .onsale {
  float: left;
  background-color: red;
  padding: 8px;
  font-size: 11px;
  color: white;
}

/* column-banners */
.owl-item {
  margin-top: 20px;
  margin-left: 20px;
}

.slider-logo {
  background-color: #fbfbfb;
  padding-bottom: 60px;
}

/* footer */
footer {
  background-color: #262626;
}

/* footer-top */
.footer-top {
  background-color: #353535;
}

.footer-top .hrv_sp {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-top .middle {
  border-right: 1px solid #4a4a4a;
  border-left: 1px solid #4a4a4a;
}

.footer-top .hrv_sp .hrv-icon, .footer-top .hrv_sp .hrv-text {
  float: left;
}

.footer-top .hrv_sp .hrv-icon {
  border-right: 1px solid #4a4a4a;
  padding-right: 20px;
  margin-right: 20px;
}

.footer-top .hrv_sp .hrv-icon, .footer-top .hrv_sp .hrv-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-top .hrv_sp .hrv-icon, .footer-top .hrv_sp .hrv-text p {
  font-weight: bold;
  color:  #888888;
  font-size: 13px;
}

/* footer-content */
.footer-content {
  background-color: #262626;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-content .container {
  border-bottom: 1px solid #353535;
  padding-bottom: 50px;
}

h3.heading-title {
  color: #ffffff;
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content ul li {
  margin-bottom: 20px;
}

.footer-content ul li a {
  color: #999999;
  font-size: 14px;
}

.footer-content ul li a:hover {
  color: white;
  text-decoration: none;
}

.footer-content ul li a i.fa {
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  background-color: #424242;
}

/* footer-bottom */
.footer-bottom {
  background-color: #262626;
  padding-bottom: 30px;
}

.footer-bottom a {
  color: #999999;
}
.float-right{
  float: right;
  font-size: 9px;
}
.chevron-left, .chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
#search-box {
  width: 270px !important;
}
.list-group-item {
  padding: 14px 20px;
}