<!DOCTYPE html>
<html>
<head>
  <title>Lucy's Skincare</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => 'reload' %>
</head>

<body style="overflow: scroll">
<header>
  <div id="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 header-top-left">
          <div class="col-md-7">
              <span>
                  <i class="fa fa-phone"></i>
                  <span>0973 469 720 | 0986 394 390</span>
              </span>
          </div>
        </div>

        <div class="col-md-7 header-top-right navbar-form navbar-right">
            <span class="account-control">
              <a href="#">Đăng nhập</a>
              <a href="">/</a>
              <a href="#">Đăng kí</a>
            </span>
          <span class="search-wrapper">
            <input type="text" name="search" placeholder="Tìm kiếm ..." id="search-box">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <div class="row">
        <div class="col-md-10 menu-wrapper">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"
                      data-toggle="collapse"
                      data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div class="logo-wrapper">
                <div class="logo">
                  <a href="index.html" class="navbar-brand">
                    <img src="images/logo/logo.png" alt="">
                  </a>
                </div>
              </div>
            </div>

            <div class="navbar-collapse collapse" id="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li class="dropdown menu-products">
                  <a href="product-list.html"  >
                    Sản phẩm
                  </a>
                </li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="col-md-2 cart-wrapper">
          <div class="cart">
            <a href="manage-cart.html">
              <i class="fa fa-shopping-cart"></i></a>
            <a href="manage-cart.html"><span>Giỏ hàng: 0</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- /header -->

<%= yield %>

<div class="col-md-12 slider-logo">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_1.png"
             alt="" class="img-responsive">
      </div>
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_2.png"
             alt="" class="img-responsive">
      </div>
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_3.png"
             alt="" class="img-responsive">
      </div>
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_4.png"
             alt="" class="img-responsive">
      </div>
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_5.png"
             alt="" class="img-responsive">
      </div>
      <div class="col-md-2 col-xs-4">
        <img src="images/logo/partner_img_6.png"
             alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div><!-- /slider-logo -->

<!--  footer -->
<footer class="footer">
  <div class="col-md-12 footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hrv_sp">
          <div class="hrv-icon">
            <img src="images/icon/support_img_1.png" alt=""
                 class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>24/7</h4>
            <p>Hỗ trợ miễn phí</p>
          </div>
        </div>

        <div class="col-md-4 hrv_sp middle">
          <div class="hrv-icon">
            <img src="images/icon/support_img_2.png" alt=""
                 class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>100% hoàn tiền</h4>
            <p>Bảo hành</p>
          </div>
        </div>

        <div class="col-md-4 hrv_sp">
          <div class="hrv-icon">
            <img src="images/icon/support_img_3.png" alt=""
                 class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>Miễn phí Shipping</h4>
            <p>Trên 5 đơn hàng</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /footer-top -->

  <!-- footer-content -->
  <div class="col-md-12 footer-content">
    <div class="container">
      <div class="col-md-3">
        <h3 class="heading-title">
          Về chúng tôi
        </h3>
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Giao hàng - Đổi trả</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">
          Trợ giúp
        </h3>
        <ul>
          <li><a href="#">Hướng dẫn mua hàng</a></li>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">
          Kết nối với chúng tôi
        </h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/TriMunDuongDaLucySkincare/">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
              <span>Google Plus</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-flickr"></i>
              <span>Flickr</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">HÃY ĐẾN VỚI CHÚNG TÔI</h3>
      </div>
    </div>
  </div><!-- /footer-content -->

  <div class="col-md-12 footer-bottom">
    <div class="container">
      <div class="col-md-6">
        <p><a href="#">Copyright © 2016 Big Market. Powered by RUNTIME.VN</a></p>
      </div>

      <div class="col-md-6">
        <p class="pull-right">
          <img src="images/icon/payment-logo.png" alt="">
        </p>
      </div>
    </div>
  </div>
</footer><!-- footer -->
</body>
</html>
